packages
.vs
Tests/Microservice.Smart.Api.Tests/bin
Tests/Microservice.Smart.Api.Tests/obj
Tests/Microservice.Smart.Services.Common.Tests/bin
Tests/Microservice.Smart.Services.Common.Tests/obj
Tests/Microservice.Smart.Services.GoogleMapInfo.Tests/bin
Tests/Microservice.Smart.Services.GoogleMapInfo.Tests/obj

gRPCConsumer/obj
gRPCConsumer/bin

Microservice.Smart.Api/bin
Microservice.Smart.Api/obj

Microservice.Smart.Services.Common/bin
Microservice.Smart.Services.Common/obj

Microservice.Smart.Services.GoogleMapInfo/bin
Microservice.Smart.Services.GoogleMapInfo/obj

TestResults
Microservice.Smart.Api/Microservice.Smart.Api.csproj.user

gRPCConsumer/Microservice.Smart.gRPC.Consumer/obj/

gRPCConsumer/Microservice.Smart.gRPC.Consumer/bin/

Microservice.Smart.Services.GoogleDistance/bin/

Microservice.Smart.Services.GoogleDistance/obj/

Microservice.Smart.Services.GoogleDistance/appsettings.Development.json

Microservice.Smart.Services.ISSNChecker/bin/

Microservice.Smart.Services.ISSNChecker/obj/

Microservice.Smart.Services.ISSNChecker/appsettings.Development.json

Microservice.Smart.Services.RequestReceiver/bin/

Microservice.Smart.Services.RequestReceiver/obj/

Microservice.Smart.Services.RequestReceiver/appsettings.Development.json

Tests/Microservice.Smart.Services.GoogleDistance.Tests/bin/

Tests/Microservice.Smart.Services.GoogleDistance.Tests/obj/

Tests/Microservice.Smart.Services.ISSNChecker.Tests/bin/

Tests/Microservice.Smart.Services.ISSNChecker.Tests/obj/

Tests/Microservice.Smart.Services.RequestReceiver.Tests/bin/

Tests/Microservice.Smart.Services.RequestReceiver.Tests/obj/

obj/

bin/
