packages
.vs
Tests/Microservice.Smart.Api.Tests/bin
Tests/Microservice.Smart.Api.Tests/obj
Tests/Microservice.Smart.Services.Common.Tests/bin
Tests/Microservice.Smart.Services.Common.Tests/obj
Tests/Microservice.Smart.Services.GoogleMapInfo.Tests/bin
Tests/Microservice.Smart.Services.GoogleMapInfo.Tests/obj

gRPCConsumer/obj
gRPCConsumer/bin

Microservice.Smart.Api/bin
Microservice.Smart.Api/obj

Microservice.Smart.Services.Common/bin
Microservice.Smart.Services.Common/obj

Microservice.Smart.Services.GoogleMapInfo/bin
Microservice.Smart.Services.GoogleMapInfo/obj

TestResults
Microservice.Smart.Api/Microservice.Smart.Api.csproj.user
